
<form role="form" ng-submit="updateStory(currentStory)" class="storyForm" ng-show="(currentStory != null)" class="elements">

  <h3>Story Info</h3>

  <label for="title">Story Title</label>
  <input class="form-control" type="text" name="title" ng-model="currentStory.title" placeholder="Story title">

  <label for="date">Story Date</label>
  <input class="form-control" type="text" name="date" ng-model="currentStory.date" placeholder="Story date">


  <h3>Story Elements</h3>
  <ul ui-sortable="sortableOptions" ng-model="currentStory.elements">
    <li class="storyElement" ng-repeat="element in currentStory.elements" style="-webkit-user-select: none;">

      <div class="form-group">
        <label for="type">Type</label>
        <select name="type" class="form-control" ng-model="element.type" ng-options="type for type in storyElementTypes"></select>
      </div>
      <div>
        <paragraph-fields ng-if="element.type === 'paragraph'"></paragraph-fields>
        <quote-fields ng-if="element.type === 'quotation'"></quote-fields>
        <image-fields ng-if="element.type === 'image'"></image-fields>
      </div>
      <div class="actions">
        <button class="btn btn-danger" confirmation-needed="Remove this element?" ng-click="removeElement($index)">remove element</button>
      </div>

    </li>

  </ul>
  <button ng-click="addElement(currentStory)">add element</button>
  <br><br>
  <input type="submit" value="save">

</form>