
<form role="form" ng-submit="updateStory(currentStory)" class="storyForm" ng-show="(currentStory != null)" class="elements">

  <input ng-model="currentStory.title" placeholder="Story title"> Story Title<br>

  <input ng-model="currentStory.date" placeholder="Story date"> Story Date<br>


  <h3>Story Elements</h3>
  <div class="elements" ng-repeat="element in currentStory.elements | orderBy: 'element.position' ">
    <div>
      <div class="form-group">
        <span>position</span><span><input ng-model="element.position"></span>
      </div>
      <div class="form-group">
        <span>Type:</span><span><select ng-model="element.type" ng-options="type for type in storyElementTypes"></select></span>
      </div>
      <div>
        <paragraph-fields ng-if="element.type === 'paragraph'"></paragraph-fields>
        <quote-fields ng-if="element.type === 'quotation'"></quote-fields>
        <image-fields ng-if="element.type === 'image'"></image-fields>
      </div>
    </div>

  </div>
  <button ng-click="addElement(currentStory)">add element</button>
  <br><br>
  <input type="submit" value="save">

</form>