
<form ng-submit="updateStory(currentStory)" class="storyForm" ng-show="(currentStory != null)" class="elements">

  <input ng-model="currentStory.title" placeholder="Story title"> Story Title<br>

  <input ng-model="currentStory.date" placeholder="Story date"> Story Date<br>


  <h3>Story Elements
  <div class="elements" ng-repeat="element in currentStory.elements | orderBy: 'element.position' ">
    <table>
      <tr>
        <td>position</td><td><input ng-model="element.position"></td>
      </tr>
      <tr>
        <td>Type:</td><td><select ng-model="element.type" ng-options="type for type in storyElementTypes"></select></td>
      </tr>
    </table>
    <content-element-fields content-element="element"></content-element-fields>

  </div>
  <button ng-click="addElement(currentStory)">add element</button>
  <br><br>
  <input type="submit" value="save">

</form>