<div ng-controller="BackendCtrl">

there are currently <span number-of-stories></span> stories

<button ng-click="newStory()">add one</button><br>

<story-list></story-list>

<story-form></story-form>

</div>
