// Place all the styles related to the stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

.storyForm {
  float: left;
  width: 60%;
}

.storyList {
  width: 30%;
  float: left;
}

ul {
  list-style-type: none;
  list-style: none;
  padding: 0;
}

.storyElement {
  margin: 10px 0;
  border: 1px dashed #ddd;
}